.dapr
.bin
.obj
appsettings.Development.json
bin
obj
.vscode
deploy
deploy_sql*
.DS_Store
.pvenv
python/data
**/*.pyc
prob_results
test_results
python/results
python/process
dapr.yaml
#**/dapr*
flask.log
merged_and_sorted_file.csv
flask*
**/checkpoint*
**/*.csv
**/*.DotSettings.user
.venv